/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (hover: hover) {
  /* BANNER
    * UI
  */
  .BOX_SLIDE_CONTENT-LINKS .BTN_BOX:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .BOX_SLIDE_CONTENT-LINKS .SECONDARY_BTN:hover {
    background-color: var(--primary-hover);
  }
  .BOX_SLIDE_CONTENT-LINKS .PRIMARY_BTN:hover {
    outline: none;
    background-color: var(--primary-text);
    color: var(--primary-coating);
  }
}

@media (max-width: 1360px) and (min-width: 1023px) {
  .BOX_SLIDE_CONTENT {
    right: 2vw;
    bottom: 17%;
    width: 90%;
  }
  .BG_MAIN .BOX_SLIDE_CONTENT img {
    width: 12.279vw;
  }
  .BOX_SLIDE_CONTENT h1 {
    font-size: 2.059vw;
  }
  .BOX_SLIDE_CONTENT h2 {
    font-size: 1.765vw;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-span {
    font-size: 2.941vw;
  }
  .BG_SECONDARY .BOX_SLIDE_CONTENT img {
    max-width: 30vw;
  }
  .BOX_SLIDE_CONTENT p {
    font-size: 1.324vw;
  }
}

@media (max-width: 1023px) {
  .BOX_SLIDE_CONTENT {
    right: 13px;
    bottom: 15%;
    width: 416px;
  }
  .BG_MAIN .BOX_SLIDE_CONTENT img {
    width: 16.325vw;
  }
  .BOX_SLIDE_CONTENT img {
    margin-bottom: 18px;
  }
  .BOX_SLIDE_CONTENT h1 {
    font-size: 18px;
    line-height: 32px;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-span {
    font-size: 29px;
  }
  .BOX_SLIDE_CONTENT h2 {
    font-size: 14px;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-LINKS .BTN_BOX {
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .BOX_SLIDE {
    padding-bottom: 47%;
  }
  .BOX_SLIDE_CONTENT {
    width: 48%;
  }
  .BOX_SLIDE_CONTENT h2 {
    display: none;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-LINKS .BTN_BOX {
    display: block;
    white-space: nowrap;
    width: 160px;
    padding: 4px 54px;
    font-size: 10px;
    border-radius: 4px;
    margin: 8px;
  }
  .BOX_SLIDE_CONTENT h1 {
    font-size: 16px;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-span {
    font-size: 32px;
  }
}

@media (max-width: 559px) {
  .BOX_SLIDE {
    padding-bottom: 48%;
  }
  .BOX_SLIDE_CONTENT {
    bottom: 5%;
    text-align: center;
  }
  .BOX_SLIDE_CONTENT h1 {
    line-height: normal;
    font-weight: 500;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-span {
    font-size: 24px;
    font-weight: 700;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-LINKS .BTN_BOX {
    margin: 0 auto 8px;
    padding: 4px 22px 6px;
  }
  .BOX_SLIDE_CONTENT p {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .BG_SECONDARY .BOX_SLIDE_CONTENT img {
    max-width: 180px;
    margin-bottom: 24px;
  }
  .BG_SECONDARY .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-LINKS .BTN_BOX {
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  body {
    min-width: 375px;
  }
  .BOX_SLIDE {
    background-size: cover;
    padding-bottom: 200px;
  }
}
