/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (hover: hover) {
  /* BANNER
    * UI
  */
  .BTN__GOLD-MAIN:hover,
  .BTN__GOLD__CARD:hover {
    background-color: var(--primary-hover);
  }
  .BOX_SLIDE_CONTENT-LINKS .BTN_BOX:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .BOX_SLIDE_CONTENT-LINKS .SECONDARY_BTN:hover {
    background-color: var(--primary-hover);
  }
  .BOX_SLIDE_CONTENT-LINKS .PRIMARY_BTN:hover {
    outline: none;
    background-color: var(--primary-text);
    color: var(--primary-coating);
  }
  /* HOVER EFFECT */
  /* MC TILES SECTION */
  .MCTILES__SLIDE:hover .TILE__HOLDER {
    -webkit-filter: blur(3px) brightness(0.6);
    filter: blur(3px) brightness(0.6); /* Blur and dim effect */
  }
  /* FADE IN OVERLAY */
  .MCTILES__SLIDE:hover .MCTILE__SLIDE__CONTENT-OVERLAY {
    opacity: 1;
  }
  /* SLIDE UP ANIMATION */
  .MCTILES__SLIDE:hover .MCTILE__SLIDE__CONTENT-OVERLAY a {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .MCCARD__SLIDE:hover .MCCARD__SLIDE-CONTENT {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }

  /* WB */
  .WB__FLEX__ITEM-LINKS .WB__BTN:hover {
    background-color: var(--primary-hover);
  }
}

@media (max-width: 1400px) {
  .MC__CONTENT {
    margin-top: -70px;
  }
}

@media (max-width: 1360px) {
  .MC__CONTENT {
    margin-top: -60px;
  }
}

@media (max-width: 1360px) and (min-width: 1023px) {
  .BOX_SLIDE_CONTENT {
    right: 2vw;
    bottom: 17%;
    width: 90%;
  }
  .BG_MAIN .BOX_SLIDE_CONTENT img {
    width: 12.279vw;
  }
  .BOX_SLIDE_CONTENT h1 {
    font-size: 2.059vw;
  }
  .BOX_SLIDE_CONTENT h2 {
    font-size: 1.765vw;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-span {
    font-size: 2.941vw;
  }
  .BG_SECONDARY .BOX_SLIDE_CONTENT img {
    max-width: 30vw;
  }
  .BOX_SLIDE_CONTENT p {
    font-size: 1.324vw;
  }

  /* MC SECTION */
  .MC__CONTENT-ABOUT p {
    font-size: 1.324vw;
  }

  /* WB SECTION */
  .WB__FLEX__ITEM-IMG img:first-child {
    max-width: 31.25vw;
  }
  .WB__FLEX__ITEM-IMG img:last-child {
    max-width: 30.294vw;
  }
  .WB__FLEX__ITEM-TXT p:nth-child(1),
  .WB__FLEX__ITEM-TXT p:nth-child(3),
  .WB__FLEX__ITEM-TXT p:nth-child(4) {
    font-size: 1.765vw;
  }
  .WB__FLEX__ITEM-TXT p:nth-child(2),
  .WB__FLEX__ITEM-TXT p:nth-child(5) {
    font-size: 2.353vw;
  }
}

@media (max-width: 1023px) {
  .BOX_SLIDE_CONTENT {
    right: 13px;
    bottom: 15%;
    width: 416px;
  }
  .BG_MAIN .BOX_SLIDE_CONTENT img {
    width: 16.325vw;
  }
  .BOX_SLIDE_CONTENT img {
    margin-bottom: 18px;
  }
  .BOX_SLIDE_CONTENT h1 {
    font-size: 18px;
    line-height: 32px;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-span {
    font-size: 29px;
  }
  .BOX_SLIDE_CONTENT h2 {
    font-size: 14px;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-LINKS .BTN_BOX {
    margin: 0px;
  }

  /* MC SECTION */
  .MC__CONTENT {
    margin-top: unset;
    -webkit-clip-path: unset;
    clip-path: unset;
    background-size: 130%;
  }
  .MC__CONTENT-LOGO img {
    margin-top: 100px;
    max-width: 161px;
  }

  .MC__CONTENT-ABOUT p {
    font-size: 18px;
  }
  .MC__CONTENT-ABOUT p:before,
  .MC__CONTENT-ABOUT p:after {
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
  }
  .MC__CONTENT-ABOUT p:before {
    left: 0;
    top: -50px;
  }
  .MC__CONTENT-ABOUT p:after {
    right: 0;
    bottom: -50px;
  }
  .MCCARD__SLIDE__CONTENT-THUMB {
    bottom: -16%;
  }

  /* WB */
  .WB__WRAPPER-FLEX {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 16px;
  }
  .WB__FLEX__ITEM-IMG img:first-child {
    max-width: 310px;
  }
  .WB__FLEX__ITEM-IMG img:last-child {
    display: none;
  }
  .WB__FLEX__ITEM-TXT p:nth-child(1),
  .WB__FLEX__ITEM-TXT p:nth-child(3),
  .WB__FLEX__ITEM-TXT p:nth-child(4) {
    font-size: 16px;
  }
  .WB__FLEX__ITEM-TXT p:nth-child(2),
  .WB__FLEX__ITEM-TXT p:nth-child(5) {
    font-size: 28px;
  }
}

@media (max-width: 850px) {
  .BOX_SLIDE_CONTENT h1 {
    margin-bottom: 12px;
  }
  .BOX_SLIDE_CONTENT h2 {
    margin-bottom: 24px;
  }
  .BG_SECONDARY .BOX_SLIDE_CONTENT img {
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .MO__INNER {
    padding: 0 8px;
  }
  .BTN__GOLD-MAIN {
    padding: 9px 35px;
    border-radius: 4px;
    font-size: 14px;
  }
  .BOX_SLIDE {
    padding-bottom: 47%;
  }
  .BOX_SLIDE_CONTENT {
    width: 48%;
    text-align: center;
  }
  .BOX_SLIDE_CONTENT h2 {
    display: none;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-LINKS .BTN_BOX {
    display: block;
    width: 160px;
    padding: 4px 54px;
    font-size: 10px;
    border-radius: 4px;
    margin: 0 auto 8px;
  }
  .BOX_SLIDE_CONTENT h1 {
    font-size: 16px;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-span {
    font-size: 32px;
  }
  .BOX_SLIDE_CONTENT p {
    font-size: 14px;
  }
  .BG_SECONDARY .BOX_SLIDE_CONTENT img {
    max-width: 160px;
    margin-bottom: 24px;
  }
  .BG_SECONDARY .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-LINKS .BTN_BOX {
    margin: 0 auto;
  }

  /* MC TILES */
  .MC__CONTENT-CARDS {
    overflow-x: hidden;
  }
  .MC__CONTENT-CARDS .MCSWIPER {
    width: 100%;
    overflow: visible;
  }
  .MC__CONTENT-LOGO img {
    margin-top: 80px;
    max-width: 146px;
  }
  .MCCARD__SLIDE__CONTENT-THUMB {
    display: none;
  }
  .MC__CONTENT-ABOUT p {
    max-width: 624px;
    line-height: 24px;
    font-size: 14px;
  }
  .MCTILES__SLIDE {
    max-width: 248px;
  }
  .MCTILE__SLIDE__CONTENT-BOTTOM p {
    font-size: 12px;
  }

  /* WB SECTION */
  .WB__WRAPPER::before {
    background-size: 200% 50%;
  }
  .WB__FLEX__ITEM-TXT p:nth-child(1),
  .WB__FLEX__ITEM-TXT p:nth-child(3),
  .WB__FLEX__ITEM-TXT p:nth-child(5) {
    display: none;
  }
  .WB__FLEX__ITEM-TXT p:nth-child(4) {
    margin-bottom: 48px;
  }
}

@media (max-width: 559px) {
  .BTN__GOLD-MAIN {
    padding: 9px 24px;
    font-size: 12px;
  }
  .BOX_SLIDE {
    padding-bottom: 48%;
  }
  .BOX_SLIDE_CONTENT {
    bottom: 15%;
  }
  .BOX_SLIDE_CONTENT h1 {
    line-height: normal;
    font-weight: 500;
    font-size: 14px;
  }
  .BOX_SLIDE_CONTENT .BOX_SLIDE_CONTENT-span {
    font-size: 12px;
    font-weight: 700;
  }

  .BOX_SLIDE_CONTENT p {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .BG_SECONDARY .BOX_SLIDE_CONTENT img {
    max-width: 180px;
    margin-bottom: 24px;
  }

  /* MC TILES */
  .MC__CONTENT-ABOUT p {
    max-width: 375px;
  }
  .MCTILES__SLIDE {
    max-width: 167px;
  }
  .MCTILE__SLIDE__CONTENT-BOTTOM p {
    font-size: 10px;
  }
  .MCTILE__SLIDE__CONTENT-BOTTOM img {
    display: none;
  }

  /* WB SECTION */
  .WB__WRAPPER-FLEX {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .WB__FLEX__ITEM-IMG img:first-child {
    max-width: 200px;
  }
  .WB__FLEX__ITEM-TXT p:nth-child(2) {
    font-size: 14px;
  }
  .WB__FLEX__ITEM-TXT p:nth-child(4) {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  .BG_SECONDARY .BOX_SLIDE_CONTENT img {
    max-width: 100px;
    margin-bottom: 12px;
  }
}

@media (max-width: 400px) {
  body {
    min-width: 400px;
  }
}
