/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* BANNER SECTION */
.BG_MAIN {
  background: url("../images/banner/mo-banner-1.webp") no-repeat center;
}
.BG_SECONDARY {
  background: url("../images/banner/mo-banner-2.webp") no-repeat center;
}

@media (max-width: 767px) {
  .BG_MAIN {
    background: url("../images/banner/mo-banner-1-mobi.webp") no-repeat;
  }
  .BG_SECONDARY {
    background: url("../images/banner/mo-banner-2-mobi.webp") no-repeat;
  }
}
